<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="./profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <li class="nav-item">
                    <a class="nav-link" href="/">Kezdőlap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/szallasok">Szállások</a>
                </li>
                <li sec:authorize="hasAuthority('ROLE_vendeglato')" class="nav-item">
                    <a class="nav-link" href="/add">Szállás létrehozása</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kapcsolat</a>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link" href="/admin">ADMIN</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item" style="float:right">
                    <a class="nav-link active" href="/login">Bejelentkezés</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item" style="float:right">
                    <a class="nav-link" href="/register">Regisztráció</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="float:right">
                    <a class="nav-link active" href="/profil">Profil</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="float:right">
                    <a class="nav-link" href="/logout">Kijelentkezés</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section sec:authorize="isAuthenticated()" class="table-container">
            <h1 class="title">Profiladatok módosítása</h1>
            <table>
                <form th:action="@{/updateUserDetails/{id}(id=${session.felhasznalo.email})}" method="post">
                <tr>
                    <th class="table-title">Felhasználónév</th>
                    <td><input type="text" name="felhasznalonev" id="felhasznalonev"
                            th:value="${session.felhasznalo.nev}" class="input-text"></td>
                    <td><button type="submit" class="btn-submit">Módosítás</button></td>
                </tr>
                <tr>
                    <th class="table-title">Email</th>
                    <td><input type="email" name="email" id="email" th:value="${session.felhasznalo.email}"
                            class="input-text">
                    </td>
                    <td><button type="submit" class="btn-submit">Módosítás</button></td>
                </tr>
                </form>
            </table>
            <div th:if="${success}">
                <p th:text="${success}" class="alert"></p>
            </div>
            <div th:if="${error}">
                <p th:text="${error}" class="alert"></p>
            </div>
        </section>
        <section sec:authorize="hasAuthority('ROLE_felhasznalo')" class="table-container">
            <h1 class="title">Lefoglalt szállások</h1>
            <div class="div-table" th:each="foglalas : ${foglalasok}">
                <div class="div-table-row">
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Név</div>
                        <input type="text" name="nev" id="nev" th:value="${foglalas.szallasId}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Kezdet</div>
                        <input type="date" name="kezdet" id="kezdet" th:value="${foglalas.kezdet}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Lejárat</div>
                        <input type="date" name="veg" id="veg" th:value="${foglalas.veg}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Telefonszám</div>
                        <input type="tel" name="telefonszam" id="telefonszam" th:value="${foglalas.telefonszam}"
                            class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Állapot</div>
                        <input type="text" name="allapot" id="allapot" th:value="${foglalas.allapot}"
                            class="input-text">
                    </div>
                </div>
                <div class="div-table-row">
                    <div class="div-table-cell" colspan="5">
                        <div class="btn-container">
                            <form th:action="@{/foglalasok/update}" method="post" th:object="${foglalas}">
                                <input type="hidden" th:name="id" th:value="${foglalas.foglalasId}">
                                <button type="submit" class="btn-submit">Módosítás</button>
                            </form>

                            <form th:action="@{/foglalasok/delete}" method="post">
                                <input type="hidden" th:name="id" th:value="${foglalas.foglalasId}">
                                <button type="submit" class="btn-submit">Törlés</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section sec:authorize="hasAuthority('ROLE_vendeglato')" class="table-container">
            <h1 class="title">Meghirdetett szállások</h1>
            <div class="div-table" th:each="szallas : ${szallasok}">
                <div class="div-table-row">
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Név</div>
                        <input type="text" name="nev" id="nev" th:value="${szallas.nev}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Irányítószám</div>
                        <input type="text" name="isz" id="isz" th:value="${szallas.isz}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Város</div>
                        <input type="text" name="varos" id="varos" th:value="${szallas.varos}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Utca</div>
                        <input type="text" name="utca" id="utca" th:value="${szallas.utca}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Leírás</div>
                        <input type="text" name="leiras" id="leiras" th:value="${szallas.leiras}" class="input-text">
                    </div>
                    <div class="div-table-cell">
                        <div class="div-table-cell div-table-header table-title">Ár</div>
                        <input type="number" name="ar" id="ar" th:value="${szallas.ar}" class="input-text">
                    </div>
                </div>
                <div class="div-table-row">
                    <div class="div-table-cell">
                        <div class="btn-container">
                            <form th:action="@{/foglalasok/update}" method="post" th:object="${foglalas}">
                                <input type="hidden" th:name="id" th:value="${foglalas.foglalasId}">
                                <button type="submit" class="btn-submit">Módosítás</button>
                            </form>

                            <form th:action="@{/foglalasok/delete}" method="post">
                                <input type="hidden" th:name="id" th:value="${foglalas.foglalasId}">
                                <button type="submit" class="btn-submit">Törlés</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-column">
            <h3 class="footer-title">Rólunk</h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="https://git-okt.sed.inf.szte.hu/2024-ib153i-3-szallas" target="_blank">GitLab
                        elérhetőség</a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-title">Nem vagy még tag?</h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="/register">Regisztráció</a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-title">Kérdésed van?</h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="/contact">Kapcsolat</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>